.profile{
  width: 880px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 320px){
  .profile{
    width: 282px;
    height: 286px;
    display: flex;
    flex-direction: column;
  }

}
