.logo{
  width: 880px;
  height: 74px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 320px){
  .logo{
    width: 320px;
    height: 56px;
  }
}
