.galery{
  width: 880px;
  height: 100%;
  padding-top: 50px;
  background-color: #000;
  display: flex;
  flex-wrap: wrap;
  column-gap: 17px;
  row-gap: 20px;
  color: #000;
}

@media screen and (max-width: 320px){
  .galery{
    width: 320px;
    padding-top: 36px;
    justify-content: center;
  }
}
